<html>
<head>
	<title></title>
</head>
<body>
	<h1>Works!</h1>
	<form type="text" method="POST" action="/">
		<input type="text" name="movietitle" placeholder="Search here">
		<input type="Submit"></input>
		</input>
	</form>
</body>
</html>
